@font-face {
    font-family: "weezerfont";
    src: url(weezerfont.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "weezerfont";
}

html {
    background: rgb(68,74,85);
    background: linear-gradient(90deg, rgba(68,74,85,1) 0%, rgba(91,98,110,1) 33%, rgba(117,123,135,1) 67%, rgba(163,169,180,1) 100%);
}

h1 {
    padding-bottom: 20px;
    font-size: 50px;
    color: white;
}

h2 {
    font-size: 30px;
    color: white;
}

table {
    font-size: 30px;
    border-collapse: collapse;
}

table, th, td {
    border: 3px solid;
}

th, td {
    padding: 5px;
}

table.center {
    margin-left:auto; 
    margin-right:auto;
}

.tableCenter {
    text-align:center;
}

.spacing {
    margin: 10px;
}

.darkBackground {
    background-color: rgba(0, 0, 0, 0.507);
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.main-header {
    background-color: rgba(10, 90, 155, 0.404);
    background-image: url(../images/HeaderBackground.jpg);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

main {
    margin-top: 5%;
}

.inputs {
    width: 300px;
    margin: 0 auto;
}

.textboxes {
    margin-top: 5%;
    width: 300px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    border-width: 4;
    border-color: #A47963;
    background-color: #C1CAD6;
}

.buttons {
    margin-top: 20px;
    margin-left: 28px;
    width: 250px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 100%;
    border-width: 4;
    border-color: #A47963;
    background-color: #C1CAD6;
}

.buttons:hover {
    background-color: rgb(207, 207, 207);
}

.links {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}

.loginResult {
    color:rgb(160, 0, 0);
    text-align: center;
    font-size: 30px;
}

.main-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    text-align: center;
}

#contactPageName {
    display: inline-block;
}

.logoutButton {
    margin-top: 20px;
    margin-right: 20px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 0%;
    border-width: 4;
    border-color: #A47963;
    background-color: #C1CAD6;
    float: right;
}

.logoutButton:hover {
    background-color: rgb(207, 207, 207);
}

#invisible {
    display: none;
}

#hidden {
    display: none;
}

.doNotUse {
    display: none;
}

.openWindowDiv {
    text-align: center;
}

#openWindow {
    margin-top: 2%;
    width: 300px;
    height: 64px;
    font-size: 40px;
    cursor: pointer;
    border-width: 4;
    border-color: #A47963;
    background-color: #C1CAD6;    
}

#openWindow:hover {
    background-color: rgb(207, 207, 207);
}

#openUpdateWindow {
    margin-top: 2%;
    width: 300px;
    height: 64px;
    font-size: 40px;
    cursor: pointer;
    border-width: 4;
    border-color: #A47963;
    background-color: #C1CAD6;    
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.contactAddDiv {
    background: rgb(68,74,85);
    background: linear-gradient(90deg, rgba(68,74,85,1) 0%, rgba(91,98,110,1) 33%, rgba(117,123,135,1) 67%, rgba(163,169,180,1) 100%);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.vertBox {
    vertical-align: middle;
}

.left {
    width: 20%;
    float: left;
    text-align: right;
    font-size: 20px;
}

.right {
    width: 60%;
    margin-left: 10px;
    float: left;
}

.addText {
    margin-bottom: 1%;
    width: 90%;
    height: 60px;
    font-size: 40px;
    text-align: center;
    border-width: 4;
    border-color: #A47963;
    background-color: #C1CAD6;
}

#addButton {
    margin-top: 2%;
    width: 300px;
    height: 64px;
    font-size: 40px;
    cursor: pointer;
    border-width: 4;
    border-color: #A47963;
    background-color: #C1CAD6;   
}

#addButton:hover {
    background-color: rgb(207, 207, 207);
}

#updateButton {
    margin-top: 2%;
    width: 500px;
    height: 64px;
    font-size: 40px;
    cursor: pointer;
    border-width: 4;
    border-color: #A47963;
    background-color: #C1CAD6;   
}

#updateButton:hover {
    background-color: rgb(207, 207, 207);
}

.tableButtons {
    width: 110px;
    height: 40px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 0%;
    border-width: 2;
    border-color: #A47963;
    background-color: #C1CAD6;
}

.tableButtons:hover {
    background-color: rgb(207, 207, 207);
}

.contactAddResult {
    margin-top: 1%;
    color:rgb(10, 0, 146);
    text-align: center;
    font-size: 30px;
}

.contactUpdateResult {
    margin-top: 1%;
    color:rgb(160, 0, 0);
    text-align: center;
    font-size: 30px;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus 
{
    color: rgb(119, 119, 119);
    text-decoration: none;
    cursor: pointer;
}

.contactSearchDiv {
    text-align: center;
    margin-top: 2%;
}

#searchText {
    width: 500px;
    height: 60px;
    font-size: 40px;
    text-align: center;
    border-width: 4;
    border-color: #A47963;
    background-color: #C1CAD6;
}

#searchButton {
    width: 200px;
    height: 64px;
    font-size: 40px;
    cursor: pointer;
    border-width: 4;
    border-color: #A47963;
    background-color: #C1CAD6;
}

#searchButton:hover {
    background-color: rgb(207, 207, 207);
}

#contactSearchResult {
    margin-top: 1%;
    color:rgb(160, 0, 0);
    text-align: center;
    font-size: 30px;
}

